body, div, p {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

div {
  width: 600px;
  height: 600px;
  border: 30px solid red;
  background-image: url(../dog.png);
  background-color: rosybrown;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  color: whitesmoke;
  text-align: center;
  padding: 30px;
}
