html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border: 1px dashed hotpink;
}

.c1 {
  color: white;
  background-color: steelblue;
  width: 100%;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  font-size: 1.5rem;
  font-family: sans-serif;
  order: -2;
}

.c2 {
  color: white;
  background-color: slategray;
  width: 50%;
  height: 600px;
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.c3 {
  color: white;
  background-color: powderblue;
  width: 50%;
  height: 600px;
  text-align: center;
  vertical-align: middle;
  line-height: 600px;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.c4 {
  color: white;
  background-color: aliceblue;
  width: 33%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.c5 {
  color: white;
  background-color: gainsboro;
  width: 33%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.c6 {
  color: white;
  background-color: lightcyan;
  width: 33%;
  height: 500px;
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.c7 {
  color: white;
  background-color: whitesmoke;
  width: 100%;
  height: 300px;
  text-align: center;
  vertical-align: middle;
  line-height: 300px;
  font-size: 1.5rem;
  font-family: sans-serif;
  order: -1;
}
