header {
  background-color: orangered;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

article {
  background-color: deepskyblue;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.aside1 {
  background-color: gold;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

.aside2 {
  background-color: hotpink;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}

footer {
  background-color: limegreen;
  font-weight: bold;
  padding: 1em;
  text-align: center;
}
