body {
  margin: 20px;
}

main {
  display: flex;
  width: 800px;
  border: 1px dotted limegreen;
  margin: 0 auto;
}

nav {
  width: 15%;
}

ul {
  flex-flow: column wrap;
}

.content {
  display: flex;
  flex-flow: row wrap;
  width: 85%;
}
