div {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  display: inline-block;
}

img {
  border: 10px groove orange;
  border-radius: 100%;
  padding: 10px;
  margin: 40px;
}

.dogtwo {
  border: 10px dotted salmon;
  padding: 10px;
}

.dogthree {
  border: 10px dashed pink;
}

.dogfour {
  border: 10px double lime;
}
