div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url(../000-IMG/pup.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  border: 10px groove orange
}

.dogtwo {
  border: 10px dotted salmon
}

.dogthree {
  border: 10px dashed pink
}

.dogfour {
  border: 10px double lime
}
